{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="/static/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
    />
    <script
      src="/static/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js"
    ></script>
    <!-- jQuery -->
    <script
      src="/static/lib/jquery-3.6.0.min.js"
    ></script>
    <!-- Jquery Confirm -->
    <link
      rel="stylesheet"
      href="/static/lib/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css"
    />
    <script src="/static/lib/jquery-confirm-v3.3.4/dist/jquery-confirm.min.js"></script>
    <!-- Functions -->
    <script src="{% static 'js/functions.js' %}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>ISIS2503</title>
    {% endblock %}
  </head>
  <body>
    <br />
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #cbe7fd"
    >
      <nav class="navbar navbar-light" style="background-color: #cbe7fd">
        <a class="navbar-brand" href="/">
          <img
            src="/static/media/logoAndes.png"
            width="130"
            height="45"
            alt=""
          />
        </a>
      </nav>

      <nav class="navbar navbar-light" style="background-color: #cbe7fd">
        <a class="navbar-brand" href="/"> Monitoring App </a>
      </nav>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Tiempo real</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/historical/">Histórico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="container" style="min-height: 580px">
        {% block content %} {% endblock %}
      </div>
    </main>
  </body>
</html>
