{% extends 'base.html' %} {% load static %} {% block head %}
<script src="/static/lib/highcharts-9.1.2/highcharts.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/data.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/exporting.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/export-data.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/accessibility.js"></script>
{% endblock %} {% block content %}
<br />
{% if cities %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6 col-12">
          <button class="btn btn-secondary float-left align-self-center" onclick="downloadCSV()">Exportar CSV</button>
        </div>
        <div class="col-md-4 col-12 my-3 my-md-0">
        <span onclick="openCalendar()">
          {{start}}
           - 
          {{end}}
        </span>
        <button
          type="button"
          class="btn btn-light ml-1"
          name="daterange"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        </button>
        </div>
        <div class="col-md-2 col-12">
        <style>
          select {
            border: none;
            color: #3498DB;
            cursor: pointer;
          }
        </style>
        <select
              class="float-right my-3 my-md-0"
              aria-label="Seleccionar ciudad"
              aria-placeholder="Ciudad"
              onchange="this.options[this.selectedIndex].value && (window.location = '/historical/' + this.options[this.selectedIndex].value);"
            >
              {% for city in cities %}
              <option value="{{city.name}}"
              {% if selectedCity.name == city.name %}
                selected
                {% endif %}>{{city.name}}</option>
              {% endfor %}
            </select>
        </div>
      </div>
    </div>
  </div>
      {% for measure in measurements %}
      <div id="container-historical-{{measure.name}}"></div>
      {% if data %}
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="avg">Promedio:</label>
            {% with name=measure.name %}  
            {% with key=name|add_str:',avg' %}  
            <p>{{data|get_statistic:key}}</p>
            {% endwith %} 
            {% endwith %}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="min">Mínimo:</label>
            {% with name=measure.name %}  
            {% with key=name|add_str:',min' %}  
            <p>{{data|get_statistic:key}}</p>
            {% endwith %} 
            {% endwith %}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="max">Máximo:</label>
            {% with name=measure.name %}  
            {% with key=name|add_str:',max' %}  
            <p>{{data|get_statistic:key}}</p>
            {% endwith %} 
            {% endwith %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div hidden>
  {{data|json_script:'data'}}
</div>
<script type="text/javascript" src="/static/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/lib/moment.min.js"></script>
<script type="text/javascript" src="/static/lib/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/daterangepicker.css" />
<script type="application/javascript">

  function openCalendar() {
    $('button[name="daterange"]').click();  
  }

$(function() {
  $('button[name="daterange"]').daterangepicker({
    opens: 'right'
  }, function(start, end, label) {
    let startTime = +start;
    let endTime = +end;
    let location = window.location.toString();
    if (location.includes('?')) {
      window.location = location.substring(0, location.indexOf('?')) + `?from=${startTime}&to=${endTime}`;
    } else {
      window.location += `?from=${startTime}&to=${endTime}`;
    }
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
        var data = JSON.parse(JSON.parse(document.getElementById('data').textContent));
        Object.keys(data).forEach(function(key) {
          Highcharts.chart("container-historical-"+key, {
        chart: {
          zoomType: "x",
        },
        title: {
          text: key,
        },
        subtitle: {
          text:
            document.ontouchstart === undefined
              ? "Click and drag in the plot area to zoom in"  
              : "Pinch the chart to zoom in",
        },
        xAxis: {
          type: "datetime",
        },
        yAxis: {
          title: {
            text: "Value",
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          area: {
            fillColor: {
              linearGradient: {
                x1: 0,
                y1: 0,
                x2: 0,
                y2: 1,
              },
              stops: [
                [0, Highcharts.getOptions().colors[0]],
                [
                  1,
                  Highcharts.color(Highcharts.getOptions().colors[0])
                    .setOpacity(0)
                    .get("rgba"),
                ],
              ],
            },
            marker: {
              radius: 2,
            },
            lineWidth: 1,
            states: {
              hover: {
                lineWidth: 1,
              },
            },
            threshold: null,
          },
        },

        series: [
          {
            type: "line",
            name: "Value",
            data: data[key].data,
          },
        ],
      });
        });    
</script>

<script>

  function getDateFormatted(ts) {
    if (ts) {
      let date = new Date(ts);
      let year = date.getFullYear();
      let month = date.getMonth();
      let day = date.getDate();
      let hour = date.getHours();
      let minute = date.getMinutes();
      let seconds = date.getSeconds();
      return `${year}-${month}-${day} ${hour}:${minute}:${seconds}`
    }

  }

  function downloadCSV() {
    for (const measure in data) {
      const rows = [
    ["Usuario", "Ciudad", "Fecha", "Variable", "Medición"],
  ];
      if (Object.hasOwnProperty.call(data, measure)) {
        const element = data[measure];
        for (const medida of element.data) {
          rows.push(
            [
              "{{selectedUser.login}}",
              "{{selectedCity.name}}",
              getDateFormatted(medida[0]),
              measure,
              medida[1]
            ]
          );
        }
      }
      let csvContent = "data:text/csv;charset=utf-8," 
    + rows.map(e => e.join(",")).join("\n");
    var encodedUri = encodeURI(csvContent);
var link = document.createElement("a");
link.setAttribute("href", encodedUri);
link.setAttribute("download", measure+"-data.csv");
document.body.appendChild(link); // Required for FF

link.click();
link.remove();
    }
  }
</script>
    </div>
{% else %}
      {% include "no_data.html" %}  
{% endif %}
  </div>
</div>

{% endblock %}
